In [1]:
#import library
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)

In [2]:
#check how many table there is
len(df_list)

3

In [3]:
#visually check which cell contain the desired table, and found the first one is the desired table
df_list[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [4]:
#assign the desired dataframe to neighborhooddf variable
neighborhooddf = df_list[0]

In [5]:
#set index column to be Postal Code
neighborhooddf.set_index('Postal Code')

,Borough,Neighbourhood
Postal Code,,
M1A,Not assigned,Not assigned
M2A,Not assigned,Not assigned
M3A,North York,Parkwoods
M4A,North York,Victoria Village
M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...
M5Z,Not assigned,Not assigned
M6Z,Not assigned,Not assigned
M7Z,Not assigned,Not assigned
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
M9Z,Not assigned,Not assigned

In [6]:
#drop row that doesn't has assigned borough
neighborhooddf = neighborhooddf[neighborhooddf.Borough != 'Not assigned']

In [8]:
#if neighborhood is unassigned, make it to be same as borough
#check if any exist
neighborhooddf[neighborhooddf.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [9]:
#it doesn't look like any neighbourhood that is not assigned

In [10]:
neighborhoodbypostaldf = neighborhooddf.groupby(['Postal Code']).agg({'Borough' : 'first', 'Neighbourhood':','.join}).reset_index().reindex(columns=neighborhooddf.columns)

In [11]:
neighborhoodbypostaldf

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [13]:
#Display number of row
neighborhoodbypostaldf.shape

(103, 3)